#services {
  margin: 0px 2em;
  display: flex;
  flex-direction: column;
}

#service_list {
  display: flex;
  flex-direction: column;

  align-items: center;
  list-style-type: none;
  padding-left: 0px;
}

#service_list li {
  border-bottom: 1px black dotted;
}
#service_list li:last-child {
  border: none;
}
