.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #0076be;
  gap: 30px;
}

.email {
  color: white;
  text-decoration: none;
}

.phone {
  color: white;
  text-decoration: none;
}

.facebook {
  color: white;
  text-decoration: none;
}
